[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "scripts/i3lock-fancy"]
	path = scripts/i3lock-fancy
	url = https://github.com/meskarune/i3lock-fancy.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
