[submodule "bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
  ignore = untracked
[submodule "bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
  ignore = untracked
[submodule "bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/vim-scripts/tComment.git
  ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
  ignore = untracked
[submodule "bundle/taglist"]
	path = vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
  ignore = untracked
[submodule "bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/slack/vim-l9.git
  ignore = untracked
[submodule "bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
  ignore = untracked
[submodule "bundle/gitv"]
	path = vim/bundle/gitv
	url = git://github.com/gregsexton/gitv.git
  ignore = untracked
[submodule "bundle/tabular"]
	path = vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
  ignore = untracked
[submodule "bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim
  ignore = untracked
[submodule "bundle/bufkill"]
	path = vim/bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
  ignore = untracked
[submodule "bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule "bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git://github.com/michaeljsmith/vim-indent-object.git
  ignore = untracked
[submodule "bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
  ignore = untracked
[submodule "bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
  ignore = untracked
[submodule "bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
  ignore = untracked
[submodule "bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
  ignore = untracked
[submodule "bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = git://github.com/myusuf3/numbers.vim.git
  ignore = untracked
[submodule "bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
  ignore = untracked
[submodule "bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
  ignore = untracked
[submodule "bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
  ignore = untracked
[submodule "i3blocks-contrib"]
	path = i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "scripts/i3lock-fancy"]
	path = scripts/i3lock-fancy
	url = git@github.com:meskarune/i3lock-fancy.git
[submodule "vim/bundle/vim-z80"]
	path = vim/bundle/vim-z80
	url = git@github.com:samsaga2/vim-z80.git
[submodule "vim/bundle/yats"]
	path = vim/bundle/yats
	url = https://github.com/HerringtonDarkholme/yats.vim.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/nord-vim"]
	path = vim/bundle/nord-vim
	url = https://github.com/arcticicestudio/nord-vim.git
